Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
Binaries/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
SubmissionInfo/
*.apk
*.mdb
AdmobLib/
*.snk
*.pfx
*.publishsettings
tech/
publish/
ipch/
packages/
/.vs/Utilities/v16
.dtbcache.v2
/.vs/Utilities/FileContentIndex
/.vs/Utilities/DesignTimeBuild/.dtbcache.v2
/.vs/Utilities/v17/.futdcache.v2
/.vs/Utilities/v17/.futdcache.v1
/.vs/ProjectEvaluation/utilities.projects.v5.2
/.vs/ProjectEvaluation/utilities.projects.v2
/.vs/ProjectEvaluation/utilities.metadata.v5.2
/.vs/ProjectEvaluation/utilities.metadata.v2
